<link rel="stylesheet" href="app.component.css">

<div class="container">
  <div class="contribuintes-container">


<!-- Fazer modal   no button de contribuintes-->

<div id="contribuinte-pesquisa">
  <div class="adm-users">
    <h1>Admnistrador de Contribuintes</h1>
  <button type="button" class="button-contribuinte">Adicionar +
  </button>
  </div>

  <div class="form-group">
    <label></label><div>
    <input type="text" class="form-control input" placeholder="Pesquisar">
  </div>
    <button type="submit" class="btn btn-primary btn-sm"> Ir </button>


</div>



<div class="lista-contribuintes">
  <div class="info">

</div>




  <app-contribuinte></app-contribuinte>
