<link rel="stylesheet" href="app.component.css">

<div class="container">
  <div class="contribuintes-container">
<h1>Admnistrador de Contribuintes</h1>

<div>
  <button class="button">Novo Contribuinte
   <select class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
  </button>
</div>

<div class="lista-contribuintes">
  <div class="form-group">
    <label></label>
    <input type="text" class="form-contribuinte" placeholder="Contribuinte">


    <button type="button" class="salvar"> Salvar</button>

    <button type="button" class="editar">Editar</button>
    <button type="button" class="excluir"> Excluir</button>

  </div>
</div>
