
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.contribuintes-container{
  width: 80vw;
  height: 90vh;
  display: flex;
  padding: 16px 24px;
  background-color: #196ce9;border-radius: 6px;
  flex-direction: column;


   }


  h1{
    color: white;
    padding: 9px 9px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

  .button{
    background-color: #FF6565; /* Green */
    border: none;
    height: 35px;
    width: max-content;

    color: rgb(0, 0, 0);
    font-style:normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: -12px -11px;

    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;border-radius: 2px;


  }

  .form-contribuinte  {
    background-color: white;
    border: none;
    height: 25px;
    width: 100%;
    color: rgb(0, 0, 0);
    padding:10px;

    text-align:left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;border-radius: 6px;

  }

.form-control{
  border-radius: 3px;
font-size:15px ;
display:flexbox;
justify-content:flex-end;
align-items:flex-end;
background-color: blanchedalmond;

}

  .salvar{
    background-color: white;
    border-radius: 6px;
    font-size: 11px;



  }

  .editar{
    background-color: white;
    border-radius: 6px;
    font-size: 11px;

  }
  .excluir{
    background-color: white;
    border-radius: 6px;
    font-size: 11px;
   }
