<link rel="stylesheet" href="app.component.css">

<div class="container">
  <div class="contribuintes-container">


<div class="form-group" id="contribuinte-pesquisa">
  <div class="form-group" class="adm-users">
    <h1>Admnistrador de Contribuintes</h1>
  <button type="button" class="button-contribuinte">Adicionar +
  </button>


  </div>
  <button (click)="modal.toggle()">
    Mostrar modal
  </button>

  <app-contribuinte-info #modal>

    <h1>Lorem, ipsum dolor.</h1>
    <p>
      Lorem ipsum, dolor sit amet
      consectetur adipisicing elit.
      Earum dicta non alias distinctio,
      aliquid aperiam ipsum provident
      quae nihil voluptatibus veniam
      fuga similique facilis consequatur
      reiciendis recusandae. Velit magni
      distinctio corporis eaque ad itaque
      ex impedit accusamus. Debitis pariatur
      cum quam rerum reprehenderit quod
      iure, in explicabo facere vero nemo?
    </p>


    <button
      (click)="acaoPrimaria(); modal.toggle();"
      class="btn-primario">Ação</button>

    <button
      class="btn-secundario">Ação 2</button>
  </app-contribuinte-info>

  <div id="form-group">

    <div>
      <input type="text" class="form-control-input" placeholder="Pesquisar">
    </div>


    <div class="submit-button;">
      <input class="btn btn-primary" type="button" value="Ir">

    </div>

  </div>









<!--
<div class="lista-contribuintes">
  <div class="info">

</div>

  <app-contribuinte nome="Marcelo">

  </app-contribuinte>
 -->
