
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.contribuintes-container{
  width: 80vw;
  height: 90vh;
  display: flex;
  padding: 16px 24px;
  background-color: #196ce9;border-radius: 6px;
  flex-direction: column;


   }


  h1{
    color: white;
    padding: 9px 9px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

  .button-contribuinte{
    background-color: #f57676; /* Green */
    border: none;
    height: 35px;
    cursor: pointer;


    color: rgb(255, 255, 255);
    font-style:normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: -12px -11px;

    text-align:center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;


  }

  .contribuinte  {

    height: 10px;
    width: 85%;
    color: rgb(242, 235, 235);
    padding:10px;

    text-align:left;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;

  }


  .editar{

        font-size: 11px;
        display: inline-block;

  }
  .excluir{
    font-size: 11px;
    display: inline-block;
   }

   ul{

    border-radius: 6px;
    background-color: rgba(131, 182, 253, 0.825);
  }
