
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.contribuintes-container{
  width: 80vw;
  height: 90vh;
  display: flex;
  padding: 16px 24px;
  background-color:rgba(255, 255, 255, 1);
  border-radius: 6px;
  flex-direction: column;
   position: fixed;
   box-shadow: 0 0 0.5em black;
   align-items: stretch;

   }
.adm-users{
  display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;


}


  h1{
    color: rgb(129, 124, 184);
    padding: 5px 5px;
    display: flex;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
   }

  .button-contribuinte{
    background-color: #f57676; /* Green */
    box-shadow: 0 0 0.5em black;
    border: none;
    height: 30px;
    width: 25%;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;




    color: rgb(255, 255, 255);
    font-style:normal;
    font-family: sans-serif;


    text-align:center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;


  }
.form-group{
  display: flex;
  justify-content: center;
  align-items: row;
  padding: 6px 6px;

}

  .form-control{ background-color: #fefefe; /* Green */
    width: 50%;
    height: 35px;
    cursor: pointer;


    border-radius: 3px;

  }
  contribuinte-pesquisa{
    display: flex;
    justify-content: space-between;


  }
  .button-pesquisar{
    font-size: 15px;
    width:50px ;
    height: 30px;

  }


  .contribuinte  {

    height: 10px;
    width: 85%;
    color: rgb(242, 235, 235);
    padding:10px;

    text-align:left;
    text-decoration: none;

    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;

  }

  .info{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    padding: 8px 5px;

  }
label{
  display: flex;
 color:rgb(149, 148, 148) ;
 padding: 5px 5px;
}


.edit-button{

  font-size: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
}



   ul{

    border-radius: 6px;


  }
